---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: oci-prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: Prometheus Project
  sourceRepos:
  - '*'
  destinations:
  - namespace: '*'
    name: oci-clusteer
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: oci-prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: oci-prometheus
  source:
    path: charts/prometheus
    repoURL: https://github.com/prometheus-community/helm-charts.git
    targetRevision: HEAD
  destination:
    namespace: monitoring
    name: oci-cluster
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
    - CreateNamespace=true