apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
#- metrics-server.yaml
- prometheus.yaml
- github.com/audryus/gitops-argo/istio/overlays/dev
- gateway-api.yaml
- kiali.yaml
#- ubiquitous-spoon.yaml